<ion-view>
    <ion-content>
        <div class="startPages">
            <div id="logo"><span>Подтверждение<br />доступа</span></div>
            <form class="list" ng-submit="doLogin()">
                <div class="mylb">
                   Введите код доступа
                </div>

                <label class="item item-input">
                    <input type="password" placeholder="**********">
                </label>
                <label id="lb-bt-V" class="item">
                    <button id="bt-V" class="button button-block button-positive" type="submit">Подтвердить</button>
                </label>
            </form>
        </div>
    </ion-content>
</ion-view>