<ion-view view-title="NewsBoard">
    <ion-content>
       
           
            <!-- тестовый блок  -->
            <div class="list inform">
                <div style="margin-top:20vh;"> <h2 style="color:white">ЛОГО</h2></div>
                <div class="field">
                  <label class="item item-input">
                    <input type="text" placeholder="Имя">
                  </label>
                  <label class="item item-input">
                    <input type="text" placeholder="Пароль">
                  </label>
                   <div style="width:90%;">
                       <a class="button button-block button-positive" href="#/menu/page1" style="margin-left:10vw; background-color:#bf447c">
                          Войти
                      </a>
                   </div>   
                    
                    <a class="areg" href="#/reg">
                          Регистрация
                    </a>  
                </div>
                  
            </div>                 
       
    </ion-content>
</ion-view>