<ion-view view-title="NewsBoard">
    <ion-content>
        <!-- тестовый блок  -->
        <div class="startPages">
            <div id="logo"><b>LOGO</b></div>
            <form class="list">
                <span>Неверное имя пользователя</span>
                <label class="item item-input">
                    <input type="text" placeholder="Имя" ng-model="loginData.username">
                </label>
                <span ng->Неверный пароль</span>
                <label class="item item-input">
                    <input type="password" placeholder="Пароль" ng-model="loginData.password">
                    <a class="my-link" href="#/repair">Забыли?</a>
                </label>
                <label id="lb-bt-V" class="item">
                </label>


                <a id="bt-V" class="button button-block button-positive" href="#/menu/page1">Войти</a>

                <a class="my-link" href="#/reg">Регистрация</a>
            </form>
        </div>

    </ion-content>
</ion-view>