<ion-view>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <ion-content>
       
        <div class="list">
            <div class="item item-divider">
                Уведомления
            </div>

            <div class="item">
                <input type="checkbox" class="filled-in" id="filled-in-box1" checked="checked" />
                <label for="filled-in-box">Запросы на ваши мероприятия </label>
            </div>

            <div class="item">
                <input type="checkbox" class="filled-in" id="filled-in-box2" checked="checked" />
                <label for="filled-in-box2">Новые мероприятия в вашем городе </label>
            </div>
            
            <div class="item">
                <input type="checkbox" class="filled-in" id="filled-in-box3" checked="checked" />
                <label for="filled-in-box3">Коментарии на ваши мероприятия </label>
            </div>

            <div class="item">
                <input type="checkbox" class="filled-in" id="filled-in-box4" checked="checked" />
                <label for="filled-in-box4">Системные уведомления </label>
            </div>
        </div>
       
    </ion-content>
</ion-view>