<ion-view>
    <ion-content>
        <div class="row" style="margin:0px; padding:0px">
            <div class="col"  style="margin:0px; padding:0px">
                <a href="#/menu/event2"> <img class="page1imghalf" src="images/events/event1.png" /> </a>
            </div>
            <div class="col" style="margin:0px; padding:0px">
                <a href="#/menu/event2"> <img class="page1imghalf" src="images/events/event2.png" /> </a>
            </div>
        </div>
        <div class="row" style="margin:0px; padding:0px">
            <div class="col col-50" style="margin:0px; padding:0px">
                <a href="#/menu/event2"> <img class="page1imghalf" src="images/events/event3.png" /> </a>
            </div>
            <div class="col col-50" style="margin:0px; padding:0px">
                <a href="#/menu/event2"> <img class="page1imghalf" src="images/events/event4.png" /> </a>
            </div>
        </div>
        <div class="row" style="margin:0px; padding:0px">
            <div class="col col-50" style="margin:0px; padding:0px">
                <a href="#/menu/event2"> <img class="page1imghalf" src="images/events/event5.png" /> </a>
            </div>
            <div class="col col-50" style="margin:0px; padding:0px">
                <a href="#/menu/event2"> <img class="page1imghalf" src="images/events/event6.png" /> </a>
            </div>
        </div>
        <div  class="headprofile">
            <a href="#/menu/event2"> <img src="images/events/event7.png" /> </a>
        </div>
  
    </ion-content>
</ion-view>