<div class="path1">
    <ion-header-bar class="bar-secondary">

        <button class="button icon ion-chevron-left urna" style="color: #0094ff" ng-click="closeTask()"></button>

        <h1 class="title"><center>Мои события</center></h1>
             
        <button class="button icon ion-compose urna" style="color: #0094ff" ng-click="closeTask()"></button>
    </ion-header-bar>
    <ion-content>
        <br />


       
            <div class="button-bar">
                <a class="button button-small  msB">отправленые</a>
                <a class="button button-small  button-positive msB">мои</a>
                <a class="button button-small  msB"> архив</a>
            </div>




        <div class="row">
            <div class="col col-50" style="font-size: 110%"><b>Сходить в кино</b></div>
            <div class="col col-25" align="right"><b><span class="badge badge-assertive">1</span></b></div>
            <div class="col col-25" align="center" style="font-size: 300%;">...</div>
        </div>
        <div class="row">
            <div class="col col-50" ">Июнь 20 2015 8:30</div>
            <div class="col col-25" align="right"><b>Запросы</b></div>
            <div class="col col-25"><b></b></div>
        </div>




                <div class="row">
                    <div class="col col-50" style="font-size: 110%" ><b>Выпить кофе</b></div>
                    <div class="col col-25" align="right"><b><span class="badge badge-assertive">2</span></b></div>
                    <div class="col col-25" align="center" style="font-size: 300%;">...</div>
                </div>
                <div class="row">
                    <div class="col col-50" ">Июнь 20 2015 8:30</div>
                    <div class="col col-25" align="right"><b>Запросы</b></div>
                    <div class="col col-25"><b></b></div>
                </div>



        <div class="row">
            <div class="col col-50" style="font-size: 110%"><b>Выпить кофе</b></div>
            <div class="col col-25" align="right"><b><span class="badge badge-assertive"></span></b></div>
            <div class="col col-25" align="center" style="font-size: 300%;">...</div>
        </div>
        <div class="row">
            <div class="col col-50" ">Июнь 20 2015 8:30</div>
            <div class="col col-25" align="right"><b></b></div>
            <div class="col col-25"><b></b></div>
        </div>



               

</ion-content>
</div>
