 <ion-view>
    <ion-content>
        <div class="path3">
            <div class="eventboxin" >

                <div class="button-bar">
                    <a class="button button-small button-positive msB" style="font-size: 90%;">отправленые</a>
                    <a href="#/menu/myevent" class="button button-small  msB" style="font-size: 90%;">мои</a>
                    <a class="button button-small  msB" style="font-size: 90%;"> архив</a>
                </div>

                <div class="card">
                    <div class="row">
                        <div class="col col-40" style="font-size: 110%"><b>>Выпить кофе </b></div>
                        <div class="col col-5" align="center"><b>c</b></div>
                        <div class="col col-5" align="center"><b><span class=" badge badge-assertive">1</span></b></div>
                        <div class="col col-30" align="left" style="font-size: 120%;"><b> Алексей</b></div>
                        <div class="col ion-person col-10" align="left" style="font-size: 200%;"></div>
                    </div>
                    <div class="row">
                        <div class="col col-50">Июнь 20 2015 8:30</div>
                        <div class="col col-5 ion-chatbubbles" align="center" style="font-size: 200%;"></div>
                        <div class="button button-small col-45" style="background: #00ff21;" align="center">Потверждено</div>
                    </div>
                </div>

                <div class="card">
                    <div class="row">
                        <div class="col col-40" style="font-size: 110%"><b>>Выпить кофе</b></div>
                        <div class="col col-5" align="center"><b>c</b></div>
                        <div class="col col-5" align="center"><b><span class="badge badge-assertive"></span></b></div>
                        <div class="col col-30" align="left" style="font-size: 120%;color: grey"><b>Мария</b></div>
                        <div class="col ion-person col-10" align="left" style="font-size: 200%;"></div>
                    </div>
                    <div class="row">
                        <div class="col col-50">Июнь 20 2015 8:30</div>
                        <div class="col col-5 ion-chatbubbles" align="left" style="font-size: 200%;"></div>
                        <div class="button button-small col-45" style="background: #808080;" align="center">Отправлена</div>
                    </div>
                </div>
                <div class="card">
                    <div class="row">
                        <div class="col col-40" style="font-size: 110%"><b>Сходить в кино  </b></div>
                        <div class="col col-5" align="center"><b>c</b></div>
                        <div class="col col-5" align="center"><b><span class="badge badge-assertive"></span></b></div>
                        <div class="col col-30" align="left" style="font-size: 120%;color: grey"><b>Валерия</b></div>
                        <div class="col ion-person col-10" align="left" style="font-size: 200%;"></div>
                    </div>
                    <div class="row">
                        <div class="col col-50">Июнь 20 2015 8:30</div>
                        <div class="col col-5 ion-chatbubbles" align="left" style="font-size: 200%;"></div>
                        <div class="button button-small col-45" style="background: #808080;" align="center">Отправлена</div>
                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
