<ion-view>
    <ion-content class="bodyprof">
                <div class="headprofile">
                    <img src="{{imgs[0]}}" />     
                </div>
        
  
        <div class="profilebox">
            <div class="row">
                <div class="col col-10"> <img class="img1" src="../images/profile/ico/ico_1.png" />  </div>
                <div class="col col-75 pboxr"> <h5>Работа и образование</h5>  РАНХиГС при Призеденте РФ (АНХ. </div>
            </div>
            <div class="row">
                <div class="col col-10"> <img class="img1" src="../images/profile/ico/ico_1.png" />  </div>
                <div class="col col-75 pboxr"> <h5>Интересы</h5>  
                    <button class="button button-small button-stable button-outline butspace">  Дизайн  </button>
                    <button class="button button-small button-stable button-outline butspace">  Автомобили  </button>
                    <button class="button button-small button-stable button-outline butspace">  Танцы  </button>
                    <button class="button button-small button-stable button-outline butspace">  Фитнес  </button>
                    <button class="button button-small button-stable button-outline butspace">  Путешествия  </button>
                </div>
            </div>
            <div class="row">
                <div class="col col-10"> <img class="img1" src="../images/profile/ico/ico_1.png" />  </div>
                <div class="col col-75 pboxr"> <h5>О себе</h5>  
                 Мы не должны останавливаться в своих поисках. И в конце их мы прибудем в то же место, с которого начали, 
                 и увидим его словно впервые.</div>
            </div>
            <div class="row">
                <div class="col col-10"> <img class="img1" src="../images/profile/ico/ico_1.png" />  </div>
                <div class="col col-75 pboxr">
                    <h5>Верификация</h5>
                    Верифицируйте свой профиль одним из способов ниже.
                </div>
            </div>
            <div class="row">
                <div class="col col-10"> <img class="img1" src="../images/profile/ico/ico_1.png" />  </div>
                <div class="col col-75 pboxr">
                    <h5>Языки</h5>
                    <button class="button button-small button-stable button-outline butspace">  Русский  </button>
                    <button class="button button-small button-stable button-outline butspace">  Английский  </button>
                    <button class="button button-small button-stable button-outline butspace">  Хинди  </button>
                    <button class="button button-small button-stable button-outline butspace">  Пушту  </button>
                    <button class="button button-small button-stable button-outline butspace">  Арамейский  </button>
                </div>
            </div>
       </div>
        <div class="profileboxin">
            <div class="row">
                <div class="col col-10"> <img class="img1" src="../images/profile/ico/ico_1.png" />  </div>
                <div class="col col-75 pboxr">
                    <h5>Мои события</h5>
                </div>
            </div>
         
        </div>
         <!-- цикл событий -->
        
            <div class="list card" style="margin:5px 0px">
                <div class="item item-avatar item-button-right">
                    <img src="../images/profile/fotoprofile.png" />
                    <h2><b>Выпить кофе</b></h2>
                    <p>25.06.2016 20:44</p>
                    
                         <span class="butrounr"> подтвердить </span>
                    
                </div>
                <div class="pboxеtxt">
                    Хочу выпить кофе с интересным собеседником.
                    Могу еще и поесть с ним же.
                </div>
                <div class="item item-divider item-button-right" style="top:0px">
                    <i class="ion-ios-navigate-outline"></i>
                    <span class="txtkm"> 123 км</span>
                    <span class="butrounr"> Запрошено </span>
                    
                </div>
            </div>

</ion-content>
        <!--<div class="headprofile">
            <img class="full-image" src="images/profile/fotoprofile.png" />
            <div> {{user.name}}  </div>

        </div>-->

</ion-view>
