<ion-view>
    <ion-content scroll="false">
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page ng-repeat="ft in imgs">
                <div class="headprofile">
                    <img style="width:100%"  src={{ft}} />
                </div>
            </ion-slide-page>
        </ion-slides>

    </ion-content>
        <!--<div class="headprofile">
            <img class="full-image" src="images/profile/fotoprofile.png" />
            <div> {{user.name}}  </div>

        </div>-->

</ion-view>
