<ion-view view-title="NewsBoard">
    <ion-content>
       
           
            <!-- тестовый блок  -->
        <div class="startPages">
            <div id="logo"><span>Регистрация</span></div>
            <form class="list" ng-submit="doLogin()">
                <label class="item item-input">
                    <input type="text" placeholder="Электронная почта" ng-model="loginData.mail">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Логин" ng-model="loginData.username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Пароль" ng-model="loginData.password">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Подтвердите пароль" ng-model="loginData.confpassword">
                    <a class="my-link" href="#/confirm">Забыли?</a>
                </label>
                <div>
                    <select class="myselect">
                        <option style="background-color:#36263a" selected>Ваш город</option>
                        <option style="background-color:#36263a">Москва</option>
                        <option style="background-color:#36263a">Питер</option>
                        <option style="background-color:#36263a">Казань</option>
                    </select>
                </div>
                <label id="lb-bt-V" class="item">
                    <button id="bt-V" class="button button-block button-positive" type="submit">Регистрация</button>
                </label>
            </form>
        </div>                 
       
    </ion-content>
</ion-view>