<ion-view view-title="NewsBoard">
    <ion-content>
       
           
            <!-- тестовый блок  -->
            <div class="list inform">
                <div style="margin-top:15vh;"> <h2 style=" color:white"> Регистрация </h2> </div>
                <div class="regfield">
                   <label class="item item-input">
                    <input type="text" placeholder="Электронная почта ">
                  </label>
                  <label class="item item-input">
                    <input type="text" placeholder="Имя">
                  </label>
                  <label class="item item-input">
                    <input type="text" placeholder="Пароль">
                  </label>
                   <label class="item item-input">
                    <input type="text" placeholder="Подтвердите пароль">
                  </label>
                  <div class="list">

                        <label class="item item-input item-select">
                          <div class="input-label"  style="color:#cccccc">
                            Ваш город
                          </div>
                          <select style="color:#cccccc; background-color:transparent;">
                            <option style="background-color:#36263a">Москва</option>
                            <option style="background-color:#36263a" selected>Питер</option>
                            <option style="background-color:#36263a" >Казань</option>
                          </select>
                        </label>

                      </div>
                   <div style="width:90%;">
                       <a class="button button-block button-positive" href="#/menu/page1" style="margin-left:10vw; background-color:#bf447c">
                          Регистрация
                      </a>
                   </div>   
                    
                </div>
                  
            </div>                 
       
    </ion-content>
</ion-view>