<ion-view>
    <ion-content>

        <div class="list">
            <a class="item"  href="#/profile">
                Профиль
            </a>
            <a class="item" href="#">
               Конфиденциальность
            </a>
            <a class="item" href="#/menu/notice">
                Уведомления
            </a>

            <a class="item" href="#">
               Помощь
            </a>

            <a class="item" href="#">
                О приложении
            </a>

        </div>

    </ion-content>

</ion-view>