body {
}

.bgpict{
   margin-top: 20px;
}

.bgpictr{
    position:absolute;
    top:5px;
    right:10px;
}
.textmenuup{
    color:white;
    font-size:17px;
}

.inform{
   width:100vw;
    height:100vh;
    margin: 0;
    background-image: url('../images/bkgrnd.png');  /*no-repeat center top fixed; no-repeat center top;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     color: #c6c5c6;
     text-align: center;
}

.field{
    position: absolute;
    width:100%;
    top:50vh;
}

.regfield{
    position: absolute;
    width:100%;
    top:30vh;
}
.inform label.item {
        background-color:transparent;
    }

.inform label.item button{
        background-color: #bf447c;
    }



.areg{
color: white;
font-size: 18px;
text-decoration: none;
}

.mmup{
    width:100%;
    height:150px;
    background-color: #443947;
    text-align: center;
}
/* блок css для профиля */
.headprofile{
    width: 100%;
    font-size:18px;
}
.headprofile img{
    width: 100%;
}

.profilebox{
    width:100%;
    padding:15px;
     box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    margin-bottom:5px;
    background-color:#ffffff;
}
    .profilebox h5 {
    font-size:14px;
    font-weight:bold;
    }
.profileboxin{
    width:100%;
    padding:0px 15px;
    background-color:#ededed;
}
 .profileboxin h5 {
    font-size:14px;
    font-weight:bold;
    }
.bodyprof{
      background-color:#ededed;
}

.pboxr{
  margin-left:10px;
}
.pboxеtxt{
  margin: 10px 10px;
}
.img1 {
    margin-top:0px;
}
.butspace{
    margin-top:3px;
    margin-bottom:3px;
    margin-left:0px;
    margin-right:0px;
}
.butrounr{
  border-radius: 10px;
  background-color:#808080;
  line-height:15px;
  color:white;
  padding:1px 10px;
  padding-bottom:2px;
  font-size:10px; 
  font-weight:bold;
  position:absolute;
  right:20px;
}
.txtkm {
    font-size:10px;
    color:#808080;
}
.txth5 {
    font-size:14px;
    font-weight:bold;
}
/* page1*/
.page1imghalf{
width:99%
}
/* event */
.eventboxin{
    width:100%;
    height:95vh;
    padding:0px 15px;
    background-color:#ededed;
}