body {
}

.bgpict{
   margin-top: 20px;
}

.bgpictr{
    position:absolute;
    top:5px;
    right:10px;
}
.textmenuup{
    color:white;
    font-size:17px;
}

.inform{
   width:100vw;
    height:100vh;
    margin: 0;
    background-image: url('../images/bkgrnd.png');  /*no-repeat center top fixed; no-repeat center top;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     color: #c6c5c6;
     text-align: center;
}

.field{
    position: absolute;
    width:100%;
    top:50vh;
}

.regfield{
    position: absolute;
    width:100%;
    top:30vh;
}
.inform label.item {
        background-color:transparent;
    }

.inform label.item button{
        background-color: #bf447c;
    }



.areg{
color: white;
font-size: 18px;
text-decoration: none;
}

.mmup{
    width:100%;
    height:150px;
    background-color: #443947;
    text-align: center;
}
/* блок css для профиля */
.headprofile{
    width: 100%;
    font-size:18px;
}
.headprofile img{
    width: 100%;
}

.profilebox{
    width:100%;
    padding:15px;
     box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    margin-bottom:5px;
    background-color:#ffffff;
}
    .profilebox h5 {
    font-size:14px;
    font-weight:bold;
    }
.profileboxin{
    width:100%;
    padding:0px 15px;
    background-color:#ededed;
}
 .profileboxin h5 {
    font-size:14px;
    font-weight:bold;
    }
.bodyprof{
      background-color:#ededed;
}

.pboxr{
  margin-left:10px;
}
.pboxеtxt{
  margin: 10px 10px;
}
.img1 {
    margin-top:0px;
}
.butspace{
    margin-top:3px;
    margin-bottom:3px;
    margin-left:0px;
    margin-right:0px;
}
.butrounr{
  border-radius: 10px;
  background-color:#808080;
  line-height:15px;
  color:white;
  padding:1px 10px;
  padding-bottom:2px;
  font-size:10px; 
  font-weight:bold;
  position:absolute;
  right:20px;
}
.txtkm {
    font-size:10px;
    color:#808080;
}
.txth5 {
    font-size:14px;
    font-weight:bold;
}
/* page1*/
.page1imghalf{
width:99%
}
/* event */
.eventboxin{
    width:100%;
    height:95vh;
    padding:0px 15px;
    background-color:#ededed;
}

ya-map {
  display: block;
  width: 100%;
  height: 200px;
}
.containerev {
    padding: 10px 15px;
    font-size:15px;
}
.containerev p{
    color:#59b9d5;
}
.containerev input[type="text"] {
       border: 1px solid #cccccc; 
       margin: 15px 0px 15px 0px;
       width: 100%;
       height:40px;
}

.containerev textarea{
       border: 1px solid #cccccc; 
       margin: 15px 0px 15px 0px;
       width: 100%;
       height:80px;
}
.containerev input[type="checkbox"] {
       border: 1px solid #cccccc; 
       margin-top: 2px;
       width: 16px;
       height:16px;
}
.containerev input[type="datetime-local"]{
       border-bottom: 1px solid #cccccc; 
}

.containerev select{
       border-bottom: 1px solid #cccccc; 
       margin-top: 10px;
}
.containerev .col-67{
      max-width:62%;
}

.containerev .row,.col{
       padding-left:0px;
}
.inp{
    border-color:black;
    border:1px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #DEDEDE;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000031;
  border: 0px solid #1C1F1E;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #020502;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #DEDEDE;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #DEDEDE;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000031;
  border: 0px solid #1C1F1E;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #020502;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #DEDEDE;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #DEDEDE;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000031;
  border: 0px solid #1C1F1E;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #020502;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #DEDEDE;
}
input[type=range]:focus::-ms-fill-upper {
  background: #DEDEDE;
}

#bt-v2 {
     background-color: #bf447c;
     width:90%;
     margin: 10px 0px 20px 0px;
     -webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
     box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
}
.butwrap {
   width:100%;
   text-align:center;
}